*{
  margin:0;
  padding: 0;
}
body{
  background-color: #33ffff;

}


#cabecera{
  width: 180%;
  height: 100px;
  background-color: black;
  box-shadow: 0 0 5px #33ffff,
              0 0 5px #66ffff;
}


#contenedor{
  background-color: white;
  width: 900px;
  height: 700px;
  margin: 0 auto;
}

.boletes p{
  color: white;
  line-height: 175px;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 10px #00b3ff,
               0 0 20px #00b3ff,
               0 0 40px #00b3ff,
               0 0 80px #00b3ff,
               0 0 120px #00b3ff;
}

#cabecera h1{
  font-size: 70px;
  padding: 13px;
  margin-left: 730px;
  color: white;
  text-shadow: 0 0 10px #00b3ff,
               0 0 20px #00b3ff,
               0 0 40px #00b3ff,
               0 0 80px #00b3ff,
               0 0 120px #00b3ff;

}








#contenedor div{
  line-height: 50px;
  margin-left: 100px;
}

.boletes{
  width: 170px;
  height: 170px;
  background-color: black;
  border-radius: 50%;
  float: left;
  margin-top: 30px;
  box-shadow: 0 0 10px #33ffff,
              0 0 10px #66ffff;
}

.boletes a{
  text-decoration: none;
}

.boletes:hover{
  opacity: 70%;
  transform: scale(1.1);
  transition-duration: 2s;
  cursor: pointer;

}


@media only screen and (max-width:470px){

  #cabecera{
    width: 100%;
    height: 80px;
    background-color: black;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
  }


  #contenedor{
    background-color: white;
    width: 100%;
    height: 1830px;
    margin: 0 auto;
  }

  .boletes p{
    color: white;
    line-height: 175px;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 80px #00b3ff,
                 0 0 120px #00b3ff;
  }

  #cabecera h1{
    font-size: 45px;
    padding: 13px;
    margin-left: 80px;
  }



  #contenedor div{
    line-height: 50px;
    margin-left: 100px;
  }

  .boletes{
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 50%;
    float: left;
    margin-top: 30px;
    box-shadow: 0 0 10px #33ffff,
                0 0 10px #66ffff;
  }

  .boletes a{
    text-decoration: none;
  }

  .boletes:hover{
    opacity: 70%;
    transform: scale(1.1);
    transition-duration: 2s;
    cursor: pointer;

  }




}
