body{
  background-color: pink;
  margin: 0;
  padding: 0;
}

div{
  background-repeat: no-repeat;
  background-position: 400px;
}

h1{
  font-family: helvetica;
  text-align: left;
  width:375px;
  margin-left: 25px;
  margin-top:0;
}
p{
  text-align: left;
  font-size: 18px;
  font-family: helvetica;
  line-height: 22px;
  width:375px;
  margin-left: 25px;
}

ul{
  text-align: right;
  margin-top: 0;
}

li{
  text-decoration: none;
  display: inline;
  margin:15px;
}




a:link{
  text-decoration: underline;
}

a:visited{
  color: #6C3;
}

a:active{
  color:navy;
}

a:hover{
  opacity:65%;
}

#cabecera{
  background-color: #FFF;
  height: 40px;
  background-image: url(img/feedly-logo-small-black.png);
  background-repeat: no-repeat;
  background-position: 5px;
}

#coneix{
  background-color: #6C3;
  height: 550px;
  background-image: url(img/img-hero-full-list.png);
  background-repeat: no-repeat;
  background-position: 400px;
}

#tot{
  background-color: #FFF;
  height: 641px;
  background-image: url(img/allinone.jpg);
  background-repeat: no-repeat;
  background-position: 400px;
}

#útil{
  background-color: #333333;
  height: 500px;
  background-image: url(img/curator-short.png);
  background-repeat: no-repeat;
  background-position: 400px;
}

#ràpid{
  background-color: #EEECEE;
  height: 550px;
  background-image: url(img/img-hero-full-list.png);
  background-repeat: no-repeat;
  background-position: 400px;
}

#fàcil{
  background-color: #6C3;
  height: 550px;
  background-image: url(img/mobile-share.png);
  background-repeat: no-repeat;
  background-position: 400px;
}

#arreu{
  background-color: #EEECEE;
  height: 643px;
  background-image: url(img/anywhere.png);
  background-repeat: no-repeat;
  background-position: 400px;
}

#footer{
  background-color: #333333;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 400px
}

#boton{
  border-radius: 50%;
  background:none;
  background-color: lightsalmon;
  text-align: center;
  line-height: 200px;
  font-size: 25px;
  font-family:sans-serif;
  font-weight:bold;
  float: right;
  position: fixed;
  right: 50px;
  bottom: 50px;
}
